<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/proyectos">

      </ion-back-button>

    </ion-buttons>
    <ion-title>multimedia</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center ">
      <ion-col style="margin-top: 10%; margin-bottom: 10%; margin-left: 45px">
        <div size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6"  class="ion-text-start ion-margin-vertical ion-margin-horizontal">
          <h2 style="font-size: 35px">Diseño de experiencia UX</h2>
          Rediseño del sitio web, a partir de un nuevo sistema de diseño aplicado a mejorar la experiencia de usuario.
        </div>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" class="ion-no-padding ">
        <ion-img  src="./assets/img/P1.jpg"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10%">
      <ion-col  size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
        <div class="ion-text-center ion-align-items-center" style="background-color: #ffd534;
         height: 50vh; width: 70%; margin:0 auto; align-items: center; display: table">
          <div  style="display: table-cell; vertical-align: middle; background-color: #ffd534" >

            <strong> Cliente > PetCol </strong>
            <hr width="80%" color="fff" size=3>
            Diseño de wireframes para UI
            <hr width="80%" color="fff" size=3>
            Feb. 2020
            <hr width="80%" color="fff" size=3>
          </div>
        </div>
      </ion-col>

      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
        <div class="ion-text-center ion-align-items-center" style="height: 45vh; width: 70%;
         margin:0 auto; align-items: center">

            <ion-img class="ion-align-items-center"   src="./assets/img/P1-2.jpg" ></ion-img>
          </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="margin-top: 10%; margin-bottom: 10%; margin-left: 45px; margin-right: 45px">
        <div size-xs="10" size-sm="10" size-md="10" size-lg="8" size-xl="6"  class="ion-text-center ion-margin-vertical ion-margin-horizontal">
          <h4 style="font-size: 45px"><strong>Redefiniendo la manera de pensar</strong></h4>
         En base a un estudio de usuario, se revisaron todos los puntos de mejora de la app web para construir una navegavilidad más accesible, estética y centrada en el usuario.
        </div>
      </ion-col>
    </ion-row >
    <ion-row  >
    <ion-col class="ion-align-items-center" size-xs="10" size-sm="10" size-md="10" size-lg="3" size-xl="3" style="margin:0 auto; align-items: center" >
      <ion-img  src="./assets/img/P2-1.jpg" ></ion-img>
    </ion-col>
    <ion-col class="ion-align-items-center ion-margin-vertical" size-xs="10" size-sm="10" size-md="10" size-lg="3" size-xl="3" style="margin:0 auto; align-items: center" >
      <ion-img  src="./assets/img/P2-2.jpg" ></ion-img>
    </ion-col>
    <ion-col class="ion-align-items-center ion-margin-vertical" size-xs="10" size-sm="10" size-md="10" size-lg="3" size-xl="3" style="margin:0 auto; align-items: center" >
      <ion-img    src="./assets/img/P2-3.jpg" ></ion-img>
    </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding ion-no-margin ion-align-items-center" >
      <ion-col class="ion-margin-horizontal" style="margin-top: 10%; margin-left: 40px" size-xs="10" size-sm="10" size-md="3" size-lg="3" size-xl="3">
        <h4 style="font-size: 20px"><strong>Diseño de experiencia UX</strong></h4>
        Rediseño del sitio web, a partir de un nuevo sistema de diseño aplicado a mejorar la experiencia de usuario.
      </ion-col>
      <ion-col class="ion-no-padding ion-no-margin"  style="margin-top: 10%" size-xs="10" size-sm="10" size-md="8" size-lg="8" size-xl="8">
        <ion-img  src="./assets/img/src1.jpg"></ion-img>
      </ion-col >
    </ion-row>
  </ion-grid>
</ion-content>
