<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Experiencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <h1>Experiencia</h1>

        <ion-card class="card ion-no-margin ion-margin-end ion-margin-bottom">
          <ion-card-content>
            <div class="image">
              <ion-img src="assets/html.png"></ion-img>
            </div>
            <div class="content">
              <h1>HTML</h1>
              <p class="cargo">Maestría en Diseño WEB</p>
              <p>Desarrollar ideas creativas basadas en el uso de la tecnología digital, orientadas al sector de las aplicaciones para dispositivos móviles.</p>
            </div>
          </ion-card-content>
        </ion-card>

        <ion-card class="card ion-no-margin ion-margin-end ion-margin-bottom">
          <ion-card-content>
            <div class="image">
              <ion-img src="assets/css.png"></ion-img>
            </div>
            <div class="content">
              <h1>CSS</h1>
              <p class="cargo">Diseño UX/UI</p>
              <p>Visión integral UX y dominio de las etapas en el diseño de productos y servicios. Metodologías Lean UX. Diseño Multiplataforma. Diseño Responsive.</p>
            </div>
          </ion-card-content>
        </ion-card>

        <ion-card class="card ion-no-margin ion-margin-end ion-margin-bottom">
          <ion-card-content>
            <div class="image">
              <ion-img src="assets/js.png"></ion-img>
            </div>
            <div class="content">
              <h1>JavaScript</h1>
              <p class="cargo">Desarrollo WEB</p>
              <p>Full Stack con HTML, CSS y JavaScript.</p>
            </div>
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="12" size-md="6">
        <h1>Educación</h1>

        <ion-card class="card ion-no-margin ion-margin-end ion-margin-bottom">
          <ion-card-content>
            <div class="image">
              <ion-img src="assets/uandes.png"></ion-img>
            </div>
            <div class="content">
              <h1>Universidad de los Andes</h1>
              <p class="cargo">Maestría en Diseño WEB</p>
              <p>Desarrollar ideas creativas basadas en el uso de la tecnología digital, orientadas al sector de las aplicaciones para dispositivos móviles.</p>
            </div>
          </ion-card-content>
        </ion-card>

        <ion-card class="card ion-no-margin ion-margin-end ion-margin-bottom">
          <ion-card-content>
            <div class="image">
              <ion-img src="assets/catolica.png"></ion-img>
            </div>
            <div class="content">
              <h1>Universidad Católica</h1>
              <p class="cargo">Diseño UX/UI</p>
              <p>Visión integral UX y dominio de las etapas en el diseño de productos y servicios. Metodologías Lean UX. Diseño Multiplataforma. Diseño Responsive.</p>
            </div>
          </ion-card-content>
        </ion-card>

        <ion-card class="card ion-no-margin ion-margin-end ion-margin-bottom">
          <ion-card-content>
            <div class="image">
              <ion-img src="assets/tecnologico.png"></ion-img>
            </div>
            <div class="content">
              <h1>Tecnológico de Monterrey</h1>
              <p class="cargo">Desarrollo WEB</p>
              <p>Full Stack con HTML, CSS y JavaScript.</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
