<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Portafolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="top">
      <ion-tab-button tab="multimedia">
        <ion-label>Multimedia</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="audiovisual">
        <ion-label>Audiovisual</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="grafico">
        <ion-label>Gráfico</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs><br><br><br>
  <ion-grid>
    <ion-row >
      <ion-col>
        <ion-img src="./assets/img/amarilo.jpg"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="./assets/img/cusezar.jpg"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="./assets/img/bolivar.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-img src="./assets/img/fincaraíz.jpg"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="./assets/img/prodesa.jpg"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="./assets/img/asul.jpg"></ion-img>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
