<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/proyectos">

      </ion-back-button>

    </ion-buttons>
    <ion-title>Gráfico</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center ">
      <ion-col style="margin-top: 10%; margin-bottom: 10%; margin-left: 45px">
        <div size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6"  class="ion-text-start ion-margin-vertical ion-margin-horizontal">
          <h2 style="font-size: 35px">Diseño de piezas de mercadeo</h2>
          Complementa tu estrategia de mercadeo con material publicitario adaptado a tu usuario.
        </div>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" class="ion-no-padding ">
        <ion-img  src="./assets/img/p8.jpg"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10%">
      <ion-col  size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
        <div class="ion-text-center ion-align-items-center" style="background-color: #E8DECC;
         height: 50vh; width: 70%; margin:0 auto; align-items: center; display: table">
          <div  style="display: table-cell; vertical-align: middle; background-color: #E8DECC" >

            <strong> Cliente > IC </strong>
            <hr width="80%" color="fff" size=3>
            Diseño de wireframes para UI
            <hr width="80%" color="fff" size=3>
            Feb. 2020
            <hr width="80%" color="fff" size=3>
          </div>
        </div>
      </ion-col>

      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
        <div class="ion-text-center ion-align-items-center" style="height: 45vh; width: 70%;
         margin:0 auto; align-items: center">

          <ion-img class="ion-align-items-center"   src="./assets/img/p9.jpg" ></ion-img>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="margin-top: 10%; margin-bottom: 10%; margin-left: 45px; margin-right: 45px">
        <div size-xs="10" size-sm="10" size-md="10" size-lg="8" size-xl="6"  class="ion-text-center ion-margin-vertical ion-margin-horizontal">
          <h4 style="font-size: 45px"><strong>Piezas promocionales con sentido</strong></h4>
         Sea como estrategia de top of mind, o para crear un "engagement" a nuevos usuarios, Las piezas promocionales son el mejor objeto para capturar a tu audiencia.
        </div>
      </ion-col>
    </ion-row >
    <ion-row  >
      <ion-col class="ion-align-items-center" size-xs="10" size-sm="10" size-md="10" size-lg="3" size-xl="3" style="margin:0 auto; align-items: center" >
        <ion-img  src="./assets/img/p10.jpg" ></ion-img>
      </ion-col>
      <ion-col class="ion-align-items-center ion-margin-vertical" size-xs="10" size-sm="10" size-md="10" size-lg="3" size-xl="3" style="margin:0 auto; align-items: center" >
        <ion-img  src="./assets/img/p10-2.jpg" ></ion-img>
      </ion-col>
      <ion-col class="ion-align-items-center ion-margin-vertical" size-xs="10" size-sm="10" size-md="10" size-lg="3" size-xl="3" style="margin:0 auto; align-items: center" >
        <ion-img    src="./assets/img/p10-3.jpg" ></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding ion-no-margin ion-align-items-center" >
      <ion-col class="ion-margin-horizontal" style="margin-top: 10%; margin-left: 40px" size-xs="10" size-sm="10" size-md="3" size-lg="3" size-xl="3">
        <h4 style="font-size: 20px"><strong>Piezas conceptuales</strong></h4>
        Los objetivos de mercadeo deben mantener la esencia de su marca sin perder lo llamativo de la comunicación.
      </ion-col>
      <ion-col class="ion-no-padding ion-no-margin"  style="margin-top: 10%" size-xs="10" size-sm="10" size-md="8" size-lg="8" size-xl="8">
        <ion-img  src="./assets/img/p11.jpg"></ion-img>
      </ion-col >
    </ion-row>
  </ion-grid>
</ion-content>
