<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row>

      <ion-col size="12" size-md="6" push-md="6">
        <ion-img src="/assets/designer.jpg" class="overlay"></ion-img>
      </ion-col>

      <ion-col size="12" size-md="6" pull-md="6">
        <div class="ion-padding container">
          <svg class="cirle-a" height="80" width="80">
            <circle cx="40" cy="40" r="40"/>
          </svg>
           <svg class="cirle-b" height="60" width="60">
            <circle cx="30" cy="30" r="30"/>
          </svg>
          <svg class="cirle-c" height="100" width="100">
            <circle cx="50" cy="50" r="50"/>
          </svg>
         <svg class="cirle-d" height="60" width="60">
            <circle cx="30" cy="30" r="30"/>
          </svg>
          <ion-text>
            <h1>Patrick</h1>
            <h3>Desarrollador WEB</h3>
          </ion-text>
          <ion-text>
            Desarrollador Front-End y Diseñador Web<br>
            Creativo digital
          </ion-text>
          <ion-button shape="round" color="dark" size="small" class="btn">
            Descargar HV
          </ion-button>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
